name: Run action with provided version
on:
  pull_request:
  push:
    branches:
      - main
permissions: {}
jobs:
  runner:
    name: Run install-ghalint
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run action
        uses: ./
        with:
          version: 0.2.12
      - name: Run ghalint
        run: |
          ghalint --version

